header {
  height: 150px;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #800000;
  height: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  padding: 0 1rem;
  text-align: center;
  color: white;
  transition: color 0.4s ease;
}
nav a:hover {
  color: #cc0000;
}

