p {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  color: black;
}
/* HEADER STYLING */
header {
  height: 150px;
  display: grid;
  grid-template-columns: 350px auto 150px 150px 50px;
}
header div {
  align-self: center;
}
.title {
  text-align: center;
}
header h1,
header h2,
header p,
article,
section
{
  color: #666;
}
header h2,
header p {
  font-family: sans-serif;
  font-size: 12px;
}
header h1 {
  font-size: 30px;
}
header h2 {
  font-weight: bold;
}
header a {
  color: white;
}
button {
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  padding: 12px;
  background-color: #ab1f1f;
  border-radius: 20px;
  border: none;
  transition: 0.3s linear;
}
button:hover {
  background-color: black;
  border: 1px solid white;
}
/* NAVBAR STYLING */
nav {
  font-family: sans-serif;
  position: absolute;
  top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(128,0,0,0.5);
  height: 50px;
  border-bottom: 1px solid rgb(168,128,128,0.5);
}
nav ul {
  display: flex;
}
nav li {
  display: flex;
  height: 100%;
  align-items: center
}
nav a,
nav .dropdown {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  color: white;
  transition: color 0.4s ease;
}
nav a {
  padding: 0 1rem;
}
nav a:hover {
  color: #cc0000;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  position: absolute;
  top: 51px;
  background-color: rgb(128,0,0,0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}
.dropdown_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
.dropdown:hover .dropdown_content {
  visibility: visible;
  opacity: 1;
}
.dropdown>a:before {
  content: "";
  width: 0; 
  height: 0; 
  margin-right: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  
  border-top: 3px solid #fff;
}
/* HERO STYLING */
.hero {
  height: 600px;
  background-image: url("../resources/adidas-close-comp.jpg");
  background-size: cover;
  background-color: #62666d;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero_content {
  text-align: center;
}
.hero_content h2 {
  font-size: 20px;
  font-family: sans-serif;
  color: #aaa;
  font-weight: bold;
  padding-bottom: 20px;
}
.hero_content h1 {
  font-size: 36px;
  color: white;
  padding-bottom: 20px;
}
.hero_content p {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: white;
  padding-bottom: 35px;
}
.carousel_controls {
  position: absolute;
  top: 680px;
  left: 80px;
}
.carousel_controls a,
.carousel_controls p {
  color: #aaa;
}
.carousel_controls a {
  transition: color 0.4s ease;
}
.carousel_controls a:hover {
  color: #cc0000;
}
/* Section Styling */
.image_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  min-height: 0;
}
.image_grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card {
  height: 400px;
}
.section {
  height: 400px;
  margin: 100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.section article {
  margin: 20px 20px 20px 0;
  height: 85%;
  overflow:hidden;
}
article h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
article h3 {
  font-family: arial;
  font-size: 12px;
  margin-bottom: 20px;
}
.card a,
.small_card a,
footer a {
  color: #AE1E04;
}
/* Surfer Section Styling */
#surfer {
  position: relative;
  height: 600px;
  margin: 0;
}
#surfer:before {
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-image: url("../resources/surfer-comp.jpg");
  background-size: cover;
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);  
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.section_opaque {
  grid-column-start: 2;
  background-color: rgba(255,255,255,.8);
}
.opaque_content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 20px;
  align-content: space-between;
  margin: 80px;
}
.top_bar {
  grid-column: 1 / span 2;
  color: #666; 
}
#surfer h2 {
  margin-top: 40px;
  font-size: 20px; 
  margin-bottom: 10px;
}
#surfer h3 {
  font-size: 16px;
}
/* Card Showcase Section Styling */
section .card_container,
section .ad_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 2fr;
  grid-gap: 30px;
}
.card_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.heading {
  grid-column: 1 / span 4;
}
.heading { 
  align-self: center;
}
.heading h2 {
  font-size: 20px;
}
.small_card {
  background-color: #F1F0ED;
  border-bottom: 1px solid black;
  transform: linear 0.3s;
}
.small_card:hover {
  border-bottom: 1px solid #a00;
}
.small_card article {
  padding: 15px 30px 15px 30px;
}
.card_container h2 {
  margin-bottom: 15px;
}
.small_card img,
.ad_space img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
/* Advertising Section Styling */
section .ad_space {
  position: relative;
  height: 400px;
  padding: 0 100px 0 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.red_filter {
  background-color: rgba(120,0,0,0.8);
  z-index: -1;
}
section .ad_space:before {
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -2;
  background-image: url("../resources/cowboy-comp.jpeg");
  background-size: cover;
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);  
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.ad_space h2 {
  margin-bottom: 10px;
}
.ad_space h2,
.ad_space p {
  color: white;
}
/* Dates Section Styling */
.card_container.bigCards {
  grid-template-columns: repeat(3,1fr);
}
.bigCards .heading {
  grid-column: 1 / span 3;
}
.bigCards img {
  height: 40%;
}
.image_wrap {
  position: relative;
}
.date_box {
  position: absolute;
  top: 0;
  left: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: 10%;
  height: 15%;
  color: white;
  font-family: arial;
  text-align: center;
}
.date {
  background-color: #ab1f1f;
  padding: 15px 10px 15px 10px;
  font-weight: bold;
}
.month {
  background-color: #821603;
  padding: 10px;
  font-size: 14px;
}
/* Footer Section Styling */
.black_filter {
  background-color: rgba(0,0,0,0.85);
  z-index: -1;
}
.footer_container {
  position: relative;
  height: 400px;
  padding: 0 100px 0 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_container:before {
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -2;
  background-image: url("../resources/slow-exposure.jpeg");
  background-size: cover;
}
.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
footer h2 {
  color: white;
  margin-bottom: 30px;
}
footer h3,
footer h4 {
  margin-bottom: 10px;
}
footer p,
footer h4,
footer li a {
  font-family: arial;
  color: #aaa;
}
footer p,
footer a {
  font-size: 14px;
  line-height: 1.5em;
}
footer a {
  transition: 0.3s linear;
}
footer a:hover {
  color: #a00;
}
footer h4 {
  font-size: 10px;
}
footer ul {
  margin-bottom: 20px;
}
footer li {
  display: inline;
  margin-right: 10px;
}
footer button {
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: #222;
}
#google:hover {
  background-color: #ff5e53;
}
#twitter:hover {
  background-color: #b3d4fc;
}
#facebook:hover {
  background-color: #3b5998;
}
#linkedin:hover {
  background-color: #0077B5;
}
.help_links p {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(120,120,120,0.6);
}
